@model IEnumerable<Scandium.Entities.Job>
@{
    var i = 0;
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Created at</th>
        <th scope="col">State</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="tex">
        @foreach (var job in Model!)
        {
            ++i;
            <tr>
                <td>@i</td>
                <td>@job.Id</td>
                <td>@job.CreateDateTime</td>
                <td><span class="badge @Html.GetBootstrapState(job.State)">@job.State</span></td>
                <td><a asp-action="JobDetails" asp-route-id="@job.Id" class="link-secondary"><i class="bi bi-info-circle"></i></a></td>
            </tr>
        }
    </tbody>
    
</table>